* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Before dark mode */
:root {
    --bg-color: #f8fafc;
    --text-color: #1e293b;
    --toggle-bg: #94a3b8;
    --toggle-circle: #ffffff;
    --nav-link-color: blue;
    --link-hover: darkgray;
    --max-width: 75rem;
    --link: #ff7f50;
}

/* After dark mode */
:has(#dark-mode-toggle:checked) {
    --bg-color: #0f172a;
    --text-color: #e2e8f0;
    --nav-link-color: skyblue;
    --link-hover: lightgray;
    --max-width: 75rem;
    --link:  #0A84FF;
}

/* Base page settings */
body, footer {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
}

footer {
    text-align: center;
    padding: 2.5rem;
}

.zola-bold {
    font-weight: 300;
    color: #a84b11;
    text-decoration-line: none;
}

/* Dark mode settings */
#dark-mode-toggle {
    display: none;
}

/* .btn */
.toggle {
    width: 3.75rem;
    height: 1.875rem;
    background-color: var(--toggle-bg);
    border-radius: 1.875rem;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    transition: background 0.3s;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--toggle-circle);
  border-radius: 50%;
  transition: transform 0.3s;
}

#dark-mode-toggle:checked + .toggle::before {
  transform: translateX(1.875rem);
}

/* Navigation bar in base.html */
.navbar {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1.25rem 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.875rem;
    padding: 0 1.25rem;
}

.nav-links a {
    color: var(--nav-link-color);
    font-size: 1.25rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--link-hover);
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        height: auto;
        gap: 18px;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
        margin: 20px 0;
        text-align: center;
    }
}

/* Main content in index.html */
.bio {
    text-align: center;
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    min-width: 0;
    max-width: var(--max-width);
}

p {
    margin: auto 0;
    padding: 0.625rem 0;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-emph {
    font-weight: 700;
}

.projects {
    display: grid;
    grid-template-columns: minmax(18.75rem, 1fr);
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.5rem 0 var(--text-color);
    border-radius: 1rem;
    text-align: center;
    overflow: hidden; 
}

.proj-img {
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.proj-name {
    font-size: 1.5rem;
}

.proj-desc {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}


.proj-link {
    margin-top: auto;
    width: 100%;
    background-color: var(--text-color);
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--link);
}

.foresters-link {
    color: var(--link);
}

@media screen and (min-width: 500px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 760px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

}
/* Blog page  */
.blog {
    text-align: center;
    margin-top: 1.25rem;
}

.travels {
    margin: 0 auto;
    padding: 1.25rem 0;
    display: flex;
    overflow: hidden;
    max-width: var(--max-width);

    &:hover .travels-inner {
        animation-play-state: paused;
    }
}

.travel-place {
    width: 18.75rem;
    height: 18.75rem;
}

.travels-inner {
    display: flex;
    gap: 1.25rem;
    padding-right: 1.25rem;
    will-change: transform;
    animation: scrolling 100s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.blog-content {
    /* width: 100%;
    min-width: 0;
    max-width: var(--max-width); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post {
    margin: 10rem;
}

.post-title {
    text-decoration: none;
}