* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f8fafc;
    --text-color: #1e293b;
    --toggle-bg: #94a3b8;
    --toggle-circle: #ffffff;
    --link-color: blue;
    --link-hover: darkgray;
    --max-width: 1200px;
    --link: #ff7f50;
}

:has(#dark-mode-toggle:checked) {
    --bg-color: #0f172a;
    --text-color: #e2e8f0;
    --link-color: skyblue;
    --link-hover: lightgray;
    --max-width: 1200px;
    --link:  darkgray;
}

body, footer {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
}

footer {
    text-align: center;
    padding: 40px;
}

#dark-mode-toggle {
    display: none;
}

/* .btn */
.toggle {
    width: 60px;
    height: 30px;
    background-color: var(--toggle-bg);
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: var(--toggle-circle);
  border-radius: 50%;
  transition: transform 0.3s;
}

#dark-mode-toggle:checked + .toggle::before {
  transform: translateX(30px);
}

.navbar {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 0 20px;
}

.nav-links a {
    color: var(--link-color);
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--link-hover);
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        height: auto;
        gap: 18px;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
        margin: 20px 0;
        text-align: center;
    }
}

.bio, .blog {
    text-align: center;
    margin-top: 20px;
}

.content {
    width: 100%;
    min-width: 0;
    max-width: var(--max-width);
}

p {
    margin: auto 0;
    padding: 10px 0;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding-top: 10px;
}

.contact-emph {
    font-weight: 700;
}

.travels {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    overflow: hidden;
    max-width: 1200px;

    &:hover .travels-inner {
        animation-play-state: paused;
    }
}

.travel-place {
    width: 300px;
    height: 300px;
}

.travels-inner {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 100s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    max-width: var(--max-width);
}

.project {
    border-radius: 20px;
    border: 2px solid var(--text-color);
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

.proj-link {
    color: var(--link);
}

.project img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.zola-bold {
    font-weight: 300;
    color: #a84b11;
    text-decoration-line: none;
}