<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Tohya's website</title>
</head>
<body>
  <nav class="navbar">
    <ul class="nav-links">
      <li class="links"><a href="{{ get_url(path='/') }}">Home</a></li>
      <li class="links"><a href="{{ get_url(path='@/blog-posts/_index.md') }}">Blogs</a></li>
      <li class="links"><a href="#">CV</a></li>
    </ul>
    <input type="checkbox" id="dark-mode-toggle">
    <label for="dark-mode-toggle" class="toggle"></label>
  </nav>
  
  {% block content %}{% endblock content %}
  
  <footer>
    Powered by <a href="https://www.getzola.org" target="_blank" rel="noopener noreferrer" class="zola-bold">Zola</a>
  </footer>
</body>

</html>