{% extends "base.html" %}

{% block content %}
<section class="blog">
    <div class="content">
        <p>
            Thank you for clicking my blog! 
        </p>
        <p>
            I suppose you are somewhat interested in who I am as a person. Aside from tech, I love running and travelling the most.
        </p>
        <p>
            Here are some of my memories:
        </p>
        <div class="travels">
            <div class="travels-inner">
                <img class="travel-place" src="{{ get_url(path='assets/travels/fuji.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/green.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/hawai.JPG') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/lake.jpg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/montreal_cath.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/mt_royal.JPG') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/otawa.jpg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/radio_tower.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/kiyomizu.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/london.jpeg') }}">
            </div>
            
            <div aria-hidden="true" class="travels-inner">
                <img class="travel-place" src="{{ get_url(path='assets/travels/fuji.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/green.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/hawai.JPG') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/lake.jpg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/montreal_cath.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/mt_royal.JPG') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/otawa.jpg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/radio_tower.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/kiyomizu.jpeg') }}">
                <img class="travel-place" src="{{ get_url(path='assets/travels/london.jpeg') }}">
            </div>
        </div>
        <p>
            I am planning to put both technical and non-technical blogs for my understanding and for you. Blogs are coming soon!!
        </p>
        <ul class="blog-posts"> 
        <!-- {%- for page in section.pages %}
            <li class="blog-post">
                <span class="post-meta"> {{ page.date }} </span>
                <h2 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                {% if page.description %}<p>{{ page.description }}</p>{% endif %}
    
                <p>
                {%- for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}" class="blog-tags">{{ tag }}</a>
                {% endfor %}
                </p>
            </li>
            <li class="blog-post">
                <span class="post-meta"> {{ page.date }} </span>
                <h2 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                {% if page.description %}<p>{{ page.description }}</p>{% endif %}
    
                <p>
                {%- for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}" class="blog-tags">{{ tag }}</a>
                {% endfor %}
                </p>
            </li>
    
        {% endfor %} -->
        </ul>
    </div>
</section>
{% endblock content %}
