{% extends "base.html" %}

{% block bio %}
<section class="bio">
    <div class="content">
      <h1>Tohya's minimal portfolio</h1>

      <p> 
        Welcome to my minimal portfolio. My name is Tohya. I am a data engineering Co-Op at Sanofi.
      </p>  
      <p>
        I am primarily interested in developing a secure and reliable full-stack application. In the era of LLM coding, I still love coding by hand.
      </p>
      
      <p>
        <span class="contact-emph">You are interested in data engineering or OSS? Let's talk!</span>
        <table>
            <tr>
                <td>discord: </td>
                <td> Toyakki</td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td>email: </td>
                <td> t.tanemura@mail.utoronto.ca</td>
            </tr>
        </table>
        
      </p>

    </div>
</section>
{% endblock bio %}


{% block projects %}
<section class="projects">
  <div class="project">
    <img src="{{ get_url(path='assets/projects/hddviz.jpeg') }}" alt="hddviz">
    <h3>hddviz</h3>
    <p>My first Go project. A cli tool that scans all of your local files in HDD and then lists down top-10 largest folder/file within each subdirectory. No third-party dependencies. </p>
    <a class="proj-link" href="https://github.com/Toyakki/hddviz" target="_blank" rel="noopener noreferrer">Source code</a>
  </div>
  
  <div class="project">
    <img src="{{ get_url(path='assets/projects/deep_emotion.jpeg') }}" alt="hddviz">
    <h3>Deep Emotion</h3>
    <p> An open-source deep learning project to train 3D Convolutional Neural Network to decode emotion from fMRI brain images. I contributed to creating and debugging the data preprocessing logic and training logic.</p>
    <a class="proj-link" href="https://github.com/lungerjo/DeepEmotion" target="_blank" rel="noopener noreferrer">Source code</a>
  </div>
</section>
{% endblock projects %}