{% extends "base.html" %}

{% block content %}
<section class="bio">
    <div class="content">
      <h1>Tohya's minimal portfolio</h1>
      <br>
      <p> 
        Welcome to my minimal portfolio. My name is Tohya. I am a data engineering Co-Op at Sanofi.
      </p> 
      <p>
        I am primarily interested in developing a secure and reliable full-stack application. I have also recently started studying about batch/streaming processing. In the era of LLM coding, I still love manual coding.
      </p>
      <br>
      <br>
      <p>
        <span class="contact-emph">You are interested in full-stack and data engineering? Let's talk!</span>
        <table>
            <tr>
                <td>discord: </td>
                <td> Toyakki</td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td>email: </td>
                <td> t.tanemura@mail.utoronto.ca</td>
            </tr>
        </table>
        
      </p>

    </div>
</section>

<section class="projects">
  <div class="project">
    <img src="{{ get_url(path='assets/projects/hddviz.jpeg') }}" alt="hddviz" class="proj-img">
    <h1 class="proj-name">hddviz</h1>
    <p class="proj-desc">My first Go project. A cli tool that scans all of your local files in HDD and then lists down top-10 largest folder/file within each subdirectory. No third-party dependencies. </p>
    <a class="proj-link" href="https://github.com/Toyakki/hddviz" target="_blank" rel="noopener noreferrer">Source code</a>
  </div>

  <div class="project">
    <img src="{{ get_url(path='assets/projects/deep_emotion.jpeg') }}" alt="hddviz" class="proj-img">
    <h1 class="proj-name">Deep Emotion</h1>
    <p class="proj-desc"> Pre-trained a 3D CNN to decode emotions from fMRI brain images. I mainly contributed to implementing and debugging the data preprocessing and training logic.</p>
    <a class="btn proj-link" href="https://github.com/lungerjo/DeepEmotion" target="_blank" rel="noopener noreferrer">Source code</a>
  </div>
  
  <div class="project">
    <img src="{{ get_url(path='assets/projects/squill.jpeg') }}" alt="hddviz" class="proj-img">
    <h1 class="proj-name">Squill</h1>
    <p class="proj-desc"> A decent hackathon project. I built it with LLM coding IDEs but helped me get a job at <span><a href="https://www.linkedin.com/posts/brentwolfram_this-past-weekend-foresters-financial-was-ugcPost-7419442038263136260-eR6f/?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEeQDHYBR8dCHsUz4M1ASidMsQ3_HdY07O4" class="foresters-link">Foresters</a></span>.</p>
    <a class="btn proj-link" href="https://github.com/lungerjo/DeepEmotion" target="_blank" rel="noopener noreferrer">Source code</a>
  </div>

</section>
{% endblock content %}